:root {
    --cor-botao-online: #235723;
    --cor-lista-amigos: #4F5959;
    --cor-bordas: #BBBFBA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jersey 15', sans-serif;
    font-size: 300;
    color: #F2F2EB;
    background-color: #0D0D0D;
    box-sizing: border-box;
}

header {
    display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--cor-bordas);
}

.search {
  width: 100%;
  max-width: 600px;
  height: 45px;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
}