:root {
   /* BACKGROUND */
   --bg-body: var(--color-neutral-900);
   --bg-surface: var(--color-neutral-700);
   --bg-surface-secondary: var(--color-neutral-600);
   --bg-hover: var(--color-neutral-500);
   /* TEXT */
   --text-primary: var(--color-neutral-100);
   --text-secondary: var(--color-neutral-200);
   /* BORDER */
   --border-color: var(--color-neutral-400);
   --border-default: 1px solid var(--border-color);
   /* BRAND */
   --brand-primary: var(--color-primary-500);
   --brand-danger: var(--color-danger-500);
   --brand-success: var(--color-success-500);
   /* COMPONENTS */
   --navbar-bg: var(--bg-surface);
   --footer-bg: var(--color-neutral-800);
   /* ICON */
   --icon-color: var(--text-primary);
}