.post-actions {
  display: flex;
  justify-content: space-around;
  padding: .8rem;
}

.action-btn {
  background: transparent;
  border: none;
  color: #f2f2eb;
  cursor: pointer;
  padding: .7rem 1rem;
  border-radius: 8px;
  transition: .2s;
  font-size: .95rem;
}

.action-btn:hover {
  background: #2c2c2c;
}