#iconeTalk {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 32px;
  color: #f2f2eb;
  border: 2px solid var(--cor-bordas);
  background-color: #171616;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1024px) {
  #iconeTalk {
    right: calc((100vw - 52rem) / 2 + 1.5rem);
    bottom: 1.5rem;
  }
}