.site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  border-bottom: 1px solid var(--cor-bordas);
}

.site-header nav {
  display: flex;
  gap: var(--space-md);
  align-items: center;
}

.site-header a {
  text-decoration: none;
  color: rgb(162, 44, 44);
  padding: 6px 10px;
  border: 2px solid var(--cor-lista-amigos);
  border-radius: 8px;
}

.site-header button {
  background: none;
  border: 2px solid var(--cor-lista-amigos);
  color: var(--cor-lista-amigos);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}