.profile {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  padding: var(--space-3);
  text-align: center;

  background: var(--color-surface);
  border-radius: var(--radius-xl);
}

.profile img {
  width: var(--avatar-lg);
  height: var(--avatar-lg);
  border-radius: var(--radius-full);
}