.search {
  width: 100%;
  padding: 12px 32px;
  border: 1px solid var(--cor-lista-amigos);
  border-radius: 6px;
  color: #f2f2eb;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.search-wrapper i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
}